font {
	 background-color: #808000 ;
}

.div0 { 
    height: 40px;
    width: 75%;
    background-color: green;
	color: white;
	overflow: scroll;
}


.div1 { 
    height: 600px;
    width: 75%;
    background-color: black;
	color: white;
	overflow: scroll;
}