font {
	 background-color: #808000 ;
}

.div0 { 
     position: absolute;
    right: 0px;
    width: 25%;
    top: 220px;
    overflow: scroll;
    height: 400px; 

}


.div1 { 
    height: 600px;
    width: 70%;
    background-color: black;
	color: white;
	overflow: scroll;
}

.div2{

    position: absolute;
    right: 0px;
    width: 25%;
    top: 10px;
    height: 200px;
}


.div3{

    height: 150px;
    width: 70%;
    background-color: lightblue;
    color: blue;
    overflow: scroll;
}

