font {
	 background-color: #808000 ;
}



div.parent{
     width: 100%;     
} 


div.left{ 
    width: 70%;
}

div.right{ 
    right: 0px;
    width: 25%;
    top: 0px;
    position: absolute;
}

.div1 { 
    width: 100%;
    background-color: black;
	color: white;
	overflow: scroll;
}

.div3{
    width: 100%;
    background-color: lightblue;
    color: blue;
    overflow: scroll;
}

.image1{
    position: absolute;
   
    width: 25px;
    right: 31%;
    height: 25px;
    top :600px;
}


/*right*/
.div0 { 
    right: 0px;
    width: 25%;
    height: 400px; 

}

.div2{
    right: 0px;
    width: 25%;
    top: 10px;
    height: 200px;
}





